chat_retrieval
{
  "nodes": [
    {
      "parameters": {
        "events": [
          "message"
        ],
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "general"
        }
      },
      "id": "slack-trigger",
      "name": "Slack Trigger",
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "slackTokenApi": {
          "id": "YOUR_SLACK_CRED_ID",
          "name": "Slack Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.subtype }}",
              "value2": "bot_message",
              "operator": "notEqual"
            }
          ]
        }
      },
      "id": "filter-bots",
      "name": "Ignore Bots",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "You are a highly intelligent corporate knowledge assistant. \n\nYour Goal: Answer the user's query using ONLY the provided context.\n\nRules:\n1. If the answer is in the context, provide a clear, concise summary.\n2. If the context mentions a specific file, mention the file name.\n3. If the context does NOT contain the answer, politely state: \"I'm sorry, I don't have enough information in my knowledge base to answer that.\"\n4. Do not hallucinate or make up facts outside the context."
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash"
      },
      "id": "gemini-chat",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        900,
        520
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GEMINI_CRED_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": "models/text-embedding-004"
      },
      "id": "gemini-embeddings-chat",
      "name": "Google Gemini Embeddings",
      "type": "n8n-nodes-base.googleGeminiEmbeddings",
      "typeVersion": 1,
      "position": [
        1040,
        540
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GEMINI_CRED_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve",
        "pineconeIndex": {
          "__rl": true,
          "value": "YOUR_INDEX_NAME",
          "mode": "list",
          "cachedResultName": "starter-index"
        },
        "topK": 4
      },
      "id": "pinecone-retriever",
      "name": "Pinecone Retriever",
      "type": "n8n-nodes-base.pineconeVectorStore",
      "typeVersion": 1,
      "position": [
        1060,
        420
      ],
      "credentials": {
        "pineconeApi": {
          "id": "YOUR_PINECONE_CRED_ID",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "channelId": {
          "__rl": true,
          "value": "={{ $('Slack Trigger').item.json.channel }}",
          "mode": "id"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "thread_ts": "={{ $('Slack Trigger').item.json.ts }}"
        }
      },
      "id": "slack-reply",
      "name": "Slack Reply",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        1260,
        300
      ],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CRED_ID",
          "name": "Slack Web API account"
        }
      }
    }
  ],
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Ignore Bots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ignore Bots": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Slack Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Retriever": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Retriever",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  }
}
