chat_retrieval
{
  "name": "Slack RAG Chatbot - Fixed",
  "nodes": [
    {
      "parameters": {
        "content": "## Slack RAG Chatbot\n\n✅ Listens to Slack messages\n✅ Searches knowledge base\n✅ Responds with AI-powered answers\n✅ Ignores bot messages",
        "height": 160,
        "width": 300,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [340, 520],
      "typeVersion": 1,
      "id": "sticky-note",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "events": ["message"],
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "general"
        },
        "options": {}
      },
      "id": "slack-trigger",
      "name": "Slack Trigger",
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CRED_ID",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.subtype }}",
              "rightValue": "bot_message",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "condition-2",
              "leftValue": "={{ $json.bot_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-bots",
      "name": "Ignore Bots",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a highly intelligent corporate knowledge assistant with access to a vector database of company documents.\n\n# Your Mission\nAnswer user questions using ONLY information from the knowledge base retrieval tool.\n\n# Instructions\n1. Use the vector_store_retriever tool to search for relevant information\n2. Base your answer ONLY on the retrieved context\n3. If context mentions specific files, reference them by name\n4. If no relevant information is found, politely say: \"I don't have information about that in my knowledge base. Could you rephrase or ask something else?\"\n5. Be conversational and helpful\n6. Keep answers concise but complete\n\n# What NOT to do\n❌ Do not make up information\n❌ Do not use knowledge outside the retrieved context\n❌ Do not apologize excessively\n❌ Do not mention technical details about the retrieval system"
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [900, 280]
    },
    {
      "parameters": {
        "model": "gemini-1.5-flash",
        "options": {
          "temperature": 0.3,
          "maxOutputTokens": 1024
        }
      },
      "id": "gemini-chat",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [900, 500],
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GEMINI_CRED_ID",
          "name": "Google Gemini account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-004",
        "options": {}
      },
      "id": "gemini-embeddings",
      "name": "Embeddings Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [1120, 680],
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GEMINI_CRED_ID",
          "name": "Google Gemini account"
        }
      }
    },
    {
      "parameters": {
        "name": "vector_store_retriever",
        "description": "Search the company knowledge base for relevant documents and information. Use this tool to find answers to user questions.",
        "pineconeIndex": {
          "__rl": true,
          "value": "documentknowledge",
          "mode": "list",
          "cachedResultName": "documentknowledge"
        },
        "options": {
          "topK": 5,
          "pineconeNamespace": "YOUR_NAMESPACE_OR_LEAVE_EMPTY"
        }
      },
      "id": "pinecone-retriever",
      "name": "Pinecone Vector Store Retriever",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [1120, 500],
      "credentials": {
        "pineconeApi": {
          "id": "YOUR_PINECONE_CRED_ID",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "operation": "post",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Slack Trigger').item.json.channel }}",
          "mode": "id"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "thread_ts": "={{ $('Slack Trigger').item.json.ts }}"
        }
      },
      "id": "slack-reply",
      "name": "Send Slack Reply",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1120, 280],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CRED_ID",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [880, 480],
      "id": "stop-bots",
      "name": "Stop - Bot Message"
    }
  ],
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Ignore Bots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ignore Bots": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop - Bot Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Slack Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store Retriever": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store Retriever",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}