rag agent
{
  "name": "Optimized AI Knowledge Base Pipeline",
  "nodes": [
    {
      "parameters": {
        "content": "## Optimized Knowledge Base\n\nMonitors Google Drive folder\nFilters valid documents\nProcesses with LangChain\nStores in Pinecone",
        "height": 140,
        "width": 280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [340, 500],
      "typeVersion": 1,
      "id": "sticky-note-1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_GOOGLE_DRIVE_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "Knowledge Base",
          "cachedResultUrl": "https://drive.google.com/drive/folders/YOUR_FOLDER_ID"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [460, 220],
      "id": "trigger-drive",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [680, 220],
      "id": "download-file",
      "name": "Download File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter for valid document types that can be processed\nconst fileMime = $input.first().json.mimeType;\nconst fileName = $input.first().json.name;\nconst fileId = $input.first().json.id;\n\n// Supported file types for document processing\nconst validTypes = [\n  'application/pdf',\n  'text/plain',\n  'application/vnd.google-apps.document',\n  'application/vnd.openxmlformats-officedocument.wordprocessingml.document',\n  'application/msword',\n  'text/markdown',\n  'text/csv',\n  'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',\n  'application/vnd.ms-excel'\n];\n\nif (!validTypes.includes(fileMime)) {\n  return {\n    json: {\n      process: false,\n      reason: 'Unsupported file type',\n      mime: fileMime,\n      name: fileName,\n      fileId: fileId\n    }\n  };\n}\n\nreturn {\n  json: {\n    process: true,\n    mime: fileMime,\n    name: fileName,\n    fileId: fileId\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 220],
      "id": "file-filter",
      "name": "File Type Filter"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.process }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1120, 220],
      "id": "check-valid",
      "name": "Is Valid Document?"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "YOUR_PINECONE_INDEX_NAME",
          "mode": "list",
          "cachedResultName": "knowledge-base"
        },
        "options": {
          "pineconeNamespace": "={{ $('Google Drive Trigger').item.json.parents[0] }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [1560, 200],
      "id": "pinecone-store",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "YOUR_PINECONE_CREDENTIAL_ID",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-004",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [1340, 380],
      "id": "gemini-embeddings",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini account"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 1000,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [1120, 480],
      "id": "text-splitter",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [1340, 200],
      "id": "data-loader",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1340, 400],
      "id": "stop-invalid",
      "name": "Stop - Invalid File"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "File Type Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Type Filter": {
      "main": [
        [
          {
            "node": "Is Valid Document?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid Document?": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop - Invalid File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}