rag agent
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "folder",
        "watchFolderId": "YOUR_GOOGLE_DRIVE_FOLDER_ID",
        "event": "fileCreated"
      },
      "id": "trigger-drive",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        460,
        220
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id }}"
      },
      "id": "download-file",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        680,
        220
      ]
    },
    {
      "parameters": {
        "language": "python",
        "code": "# Best Practice: Filter for valid text types before processing\nfile_mime = $(\"Google Drive Trigger\").first().json[\"mimeType\"]\nvalid_types = [\"application/pdf\", \"text/plain\", \"application/vnd.google-apps.document\", \"application/vnd.openxmlformats-officedocument.wordprocessingml.document\"]\n\nif file_mime not in valid_types:\n    # In a real scenario, you might want to route this to a 'Stop' node\n    # For now, we return a flag to filter later\n    return {'process': False, 'reason': 'Invalid Mime Type'}\n\nreturn {'process': True, 'mime': file_mime}"
      },
      "id": "filter-files",
      "name": "Python Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.process }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-process",
      "name": "Is Text File?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1120,
        220
      ]
    },
    {
      "parameters": {
        "dataPropertyName": "data"
      },
      "id": "extract-text",
      "name": "Text Extractor",
      "type": "n8n-nodes-base.textExtract",
      "typeVersion": 1,
      "position": [
        1340,
        200
      ]
    },
    {
      "parameters": {
        "chunkSize": 1000,
        "chunkOverlap": 200
      },
      "id": "split-text",
      "name": "Recursive Character Text Splitter",
      "type": "n8n-nodes-base.recursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1560,
        360
      ]
    },
    {
      "parameters": {
        "modelId": "models/text-embedding-004"
      },
      "id": "gemini-embeddings",
      "name": "Google Gemini Embeddings",
      "type": "n8n-nodes-base.googleGeminiEmbeddings",
      "typeVersion": 1,
      "position": [
        1680,
        360
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "upsert",
        "pineconeIndex": {
          "__rl": true,
          "value": "YOUR_INDEX_NAME",
          "mode": "list",
          "cachedResultName": "starter-index"
        },
        "namespace": "={{ $('Google Drive Trigger').item.json.parents[0] }}",
        "options": {
          "pineconeNamespace": "={{ $('Google Drive Trigger').item.json.parents[0] }}"
        }
      },
      "id": "pinecone-upsert",
      "name": "Pinecone Vector Store",
      "type": "n8n-nodes-base.pineconeVectorStore",
      "typeVersion": 1,
      "position": [
        1800,
        200
      ],
      "credentials": {
        "pineconeApi": {
          "id": "YOUR_PINECONE_ID",
          "name": "Pinecone account"
        }
      }
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Python Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Python Filter": {
      "main": [
        [
          {
            "node": "Is Text File?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Text File?": {
      "main": [
        [
          {
            "node": "Text Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Extractor": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  }
}
